<?xml version="1.0"?>
<config>
  <modules>
    <NetPublica_Dragonpaymicropayments>
      <version>1.0.3</version>
    </NetPublica_Dragonpaymicropayments>
  </modules>
  <global>
    <models>
      <dragonpaymicropayments>
        <class>NetPublica_Dragonpaymicropayments_Model</class>
      </dragonpaymicropayments>
    </models>
    <helpers>
      <dragonpaymicropayments>
        <class>NetPublica_Dragonpaymicropayments_Helper</class>
      </dragonpaymicropayments>
    </helpers>
    <blocks>
      <dragonpaymicropayments>
        <class>NetPublica_Dragonpaymicropayments_Block</class>
      </dragonpaymicropayments>
    </blocks>
    <fieldsets>
            <sales_convert_quote_payment>
                <filtering_mode>
                    <to_order_payment>*</to_order_payment>
                </filtering_mode>
            </sales_convert_quote_payment>
     </fieldsets>
  </global>
  <default>
    <payment>
      <dragonpaymicropayments>
        <model>dragonpaymicropayments/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>Dragonpay Micropayments</title>
        <test_mode>1</test_mode>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>0</sort_order>
        <notification_parser>1</notification_parser>       
      </dragonpaymicropayments>
    </payment>
  </default>
  <frontend>
    <routers>
      <dragonpaymicropayments>
        <use>standard</use>
        <args>
          <module>NetPublica_Dragonpaymicropayments</module>
          <frontName>dragonpaymicropayments</frontName>
        </args>
      </dragonpaymicropayments>
    </routers>
  </frontend>
</config>
